extends ../layouts/default

block content
	div.db.dt-ns.mw9.center.w-100.pv4
		div.db.dtc-ns.tl.w-40.tr-ns
			img(src="http://via.placeholder.com/350x350", alt="logo").pr4
		div.db.dtc-ns.v-mid.w-40.tl.mt2.mt0-ns.pr7
			h2.tc Let's Work Together
			p Lorem ipsum dolor sit amet consectetur adipiscing elit praesent ut, scelerisque torquent suspendisse porta in nulla mollis aliquet. Quis blandit mattis a turpis urna rhoncus nisl ridiculus quam, nec mauris litora commodo purus nascetur elementum eleifend, euismod fringilla rutrum curae lacinia proin enim lobortis. Ac dapibus accumsan eu augue interdum hendrerit dis id tincidunt libero varius, donec vel fermentum consequat senectus semper purus inceptos massa. 
			div.tc
				a(href="#0").f4.link.dim.pv3.mb2.dib.white.bg-light-red.w-100 Request Quote

	div.w-100.bg-lightest-blue.pv4
		div.db.dt-ns.mw9.center.w-100.ph5.tc
			h1.tc Our Services
			div
				div.fl.w-25.pa2
					a(href="/engraving")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Engraving
				div.fl.w-25.pa2
					a(href="/bulk-sales")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Bulk Sales
				div.fl.w-25.pa2
					a(href="/unique-boulders")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Unique Boulders
				div.fl.w-25.pa2
					a(href="/specialty-work")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Specialty Work

	div.w-100.bg-white.pv4
		div.db.dt-ns.center.w-100
			h1.tc Contact Us

	div.w-100.bg-lightest-blue.pv4
		div.db.dt-ns.mw8.center.w-100
