extends ../layouts/default

block content
	div.bg-blue.w-100.ph2.pv4.white.center
		div.ph4-sm.tc-ns
			div.dib-ns.w-100.w-40-ns
				img(src="http://via.placeholder.com/350x350", alt="logo").pr4-ns.db-s
			div.dib-ns.w-100.w-40-ns
				h2.tc Let's Work Together
				p Lorem ipsum dolor sit amet consectetur adipiscing elit praesent ut, scelerisque torquent suspendisse porta in nulla mollis aliquet. Quis blandit mattis a turpis urna rhoncus nisl ridiculus quam, nec mauris litora commodo purus nascetur elementum eleifend, euismod fringilla rutrum curae lacinia proin enim lobortis. Ac dapibus accumsan eu augue interdum hendrerit dis id tincidunt libero varius, donec vel fermentum consequat senectus semper purus inceptos massa. 
				div.tc
					a(href="#0").f4.link.dim.pv3.mb2.dib.white.bg-light-red.w-100 Request Quote

	div.w-100.pv4
		div.db.dt-ns.mw9.center.w-100.ph2.tc
			h1.red.tc.ttu Our Services
			div
				div.fl.w50-s.w-100.w-50-m.w-25-l.pa2
					a(href="/engraving")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Engraving
				div.fl.w50-s.w-100.w-50-m.w-25-l.pa2
					a(href="/bulk-sales")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Bulk Sales
				div.fl.w50-s.w-100.w-50-m.w-25-l.pa2
					a(href="/unique-boulders")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Unique Boulders
				div.fl.w50-s.w-100.w-50-m.w-25-l.pa2
					a(href="/specialty-work")
						img(src="http://via.placeholder.com/352X352", alt="a rock")
					h4.tc Specialty Work
