extends ../layouts/with-intro

block intro
	h1 We do stuff for you
	p Yeah, that's right! We do stuff!

block main
	div.w-100.bg-lightest-blue.pv4
		div.db.dt-ns.mw9.center.w-100.ph5.tc
			h1.tc We have services
