extends ../layouts/with-intro

block intro
	h1= section.subheading
	p=  section.description

block main
	div.w-100.bg-lightest-blue.pv4
		div.db.dt-ns.ph3.w-100
			div
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					a(href="/unique-boulders/someid")
						img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100
				div.fl-ns.w-100.w-25-ns.w-50-m.pa2-ns.pb2
					img(src="http://via.placeholder.com/352X352", alt="a rock").w-100

