include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Ruthven Rocks'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		//- link(href="/styles/site.css", rel="stylesheet")
		link(href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
			//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
			//- Safely remove this block if you are not targeting IE8
			//-[if lt IE 9]
				script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
				script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
			//-[endif]

		link(href="styles/dialog.css", rel="stylesheet")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body.w-100.sans-serif
		if user
			header.cf.w-100.pv2.bg-red.black
				div.db.dt-ns.mw9.center.w-100
					div.db.dtc-ns.v-mid.tl.w-50 Currently logged in as #{user.name.first} #{user.name.last}
					nav.db.dtc-ns.v-mid.w-100.tl.tr-ns.mt2.mt0-ns
						if user.canAccessKeystone
							a(href='/keystone').pr3.black Open Keystone
							a(href='/keystone/signout').black Sign Out

		header(v-hideable-nav)#header-nav.cf.w-100.pv3.shadow-1.bg-blue
			div.db.dt-ns.ph3.center.w-100.vmid
				//- div.db.dtc-ns.v-mid.tl.w-100.w-90-m.w-30-ns.f3
				div.dib.fl.f3
					a(href="/").link.black
						span.b.navy Ruthven 
						span.navy Rocks
				nav.dn.dn-m.dib-ns.fr.tr.pt2.f6
					a(href="/engraving").mr4.link.navy.underline-hover.ttu Engraving
					a(href="/specialty-work").mr4.link.navy.underline-hover.ttu Custom Cutting &amp; Creations
					a(href="/bulk-sales").mr4.link.navy.underline-hover.ttu Landscape Rocks
					a(href="/contact").link.navy.underline-hover.ttu Contact Us
				
				nav.dib.dib-m.dn-ns.fr.tr
					a(href="/contact").link.navy
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>

		div.cf.w-100.bg-white
			main
				block content

		footer.cf.w-100.pv5.bg-blue
			div.db.mw8.center.w-100.white
				nav.fl.w-60
					a(href="/engraving").mr4.link.white.underline-hover.ttu Engraving
					a(href="/specialty-work").mr4.link.white.underline-hover.ttu Custom Cutting &amp; Creations
					a(href="/bulk-sales").mr4.link.white.underline-hover.ttu Landscape Rocks
				div.fl.w-40.tr
					h2.mt0 Ruthven Rocks
				
		div.overlay.dn
			div.modal
				some text

		script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
		script(src='/js/app/header-nav.js')

		if user && user.canAccessKeystone
			script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
			script(src='/js/jquery/jquery-1.11.3.min.js')
			script(src='/keystone/js/content/editor.js')

		block js
