extends ../layouts/default

block content
	div(style="background: url('http://keystonejs.com/images/intro-bg-inverse.png') no-repeat right bottom #348dd9;").pv3
		div.db.dt-ns.mw8.center.w-100.black
			block intro

	block main
